<!--ngForm checks the data of the form but also the correctness of the form
if form state in a valid or invalid state-->
<div class="form-module">
<form #form="ngForm" (submit)="registerUser(formUser)">

  <input placeholder="User Name" name="username" [(ngModel)]="formUser.username"
         required/>
  <input placeholder="Password" name="password" [(ngModel)]="formUser.password"
  required/>
  <button [disabled]="form.invalid" type="submit" >SUBMIT</button>
  <pre>{{form.valid}}</pre>
</form>
  <pre>hello</pre>
  <pre>{{formUser | json}}</pre>

</div>
